In [138]:
import pandas as pd

path = "C:\\Users\\hanna\\OneDrive\\Desktop\\All Folders\\Data Science\\SpringBoard\\Capstone 3\\hotels_post_datawrangling.csv"

hotels = pd.read_csv(path)

hotels.head(2)

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,days_since_review,lat,lng,Month,Year,Day,country,Trip_type,Group_type
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,1403,Only the park outside of the hotel was beauti...,7,2.9,0 days,52.360576,4.915968,8,2017,3,Netherlands,1.0,2
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,Ireland,No Negative,1403,No real complaints the hotel was great great ...,7,7.5,0 days,52.360576,4.915968,8,2017,3,Netherlands,1.0,2

In [139]:
reviews = hotels[['Positive_Review', 'Negative_Review']]

In [140]:
reviews.head(2)

,Positive_Review,Negative_Review
0,Only the park outside of the hotel was beauti...,I am so angry that i made this post available...
1,No real complaints the hotel was great great ...,No Negative

In [141]:
%%time

reviews['Pos_lower'] = reviews['Positive_Review'].str.lower()
reviews['Neg_lower'] = reviews['Negative_Review'].str.lower()

# drop the new columns created 
reviews.drop(['Positive_Review'], axis = 1, inplace = True)
reviews.drop(['Negative_Review'], axis = 1, inplace = True)

<timed exec>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 490 ms

C:\Users\hanna\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [142]:
reviews.head(2)

,Pos_lower,Neg_lower
0,only the park outside of the hotel was beauti...,i am so angry that i made this post available...
1,no real complaints the hotel was great great ...,no negative

In [143]:
import string

In [144]:
%%time

PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

reviews["Pos_wo_punct"] = reviews["Pos_lower"].apply(lambda text: remove_punctuation(text))
reviews["Neg_wo_punct"] = reviews["Neg_lower"].apply(lambda text: remove_punctuation(text))

reviews.drop(['Pos_lower'], axis = 1, inplace = True)
reviews.drop(['Neg_lower'], axis = 1, inplace = True)

reviews.head()

<timed exec>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 3.65 s

<timed exec>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hanna\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Pos_wo_punct,Neg_wo_punct
0,only the park outside of the hotel was beauti...,i am so angry that i made this post available...
1,no real complaints the hotel was great great ...,no negative
2,location was good and staff were ok it is cut...,rooms are nice but for elderly a bit difficul...
3,great location in nice surroundings the bar a...,my room was dirty and i was afraid to walk ba...
4,amazing location and building romantic setting,you when i booked with your company on line y...

In [145]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hanna\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [146]:
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [147]:
%%time

STOPWORDS = set(stopwords.words('english'))
STOPWORDS.remove('no')

def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

reviews["Pos_wo_stop"] = reviews["Pos_wo_punct"].apply(lambda text: remove_stopwords(text))
reviews["Neg_wo_stop"] = reviews["Neg_wo_punct"].apply(lambda text: remove_stopwords(text))

reviews.drop(['Pos_wo_punct'], axis = 1, inplace = True)
reviews.drop(['Neg_wo_punct'], axis = 1, inplace = True)

reviews.head()

<timed exec>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 4.01 s

<timed exec>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\hanna\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Pos_wo_stop,Neg_wo_stop
0,park outside hotel beautiful,angry made post available via possible sites u...
1,no real complaints hotel great great location ...,no negative
2,location good staff ok cute hotel breakfast ra...,rooms nice elderly bit difficult rooms two sto...
3,great location nice surroundings bar restauran...,room dirty afraid walk barefoot floor looked c...
4,amazing location building romantic setting,booked company line showed pictures room thoug...

In [148]:
%%time
#nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')

from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

reviews["Pos_lemmatized"] = reviews["Pos_wo_stop"].apply(lambda text: lemmatize_words(text))
reviews["Neg_lemmatized"] = reviews["Neg_wo_stop"].apply(lambda text: lemmatize_words(text))

<timed exec>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 18min 25s

<timed exec>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [149]:
reviews.drop(['Pos_wo_stop'], axis = 1, inplace = True)
reviews.drop(['Neg_wo_stop'], axis = 1, inplace = True)

C:\Users\hanna\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [150]:
reviews.head()

,Pos_lemmatized,Neg_lemmatized
0,park outside hotel beautiful,angry make post available via possible site us...
1,no real complaint hotel great great location s...,no negative
2,location good staff ok cute hotel breakfast ra...,room nice elderly bit difficult room two story...
3,great location nice surroundings bar restauran...,room dirty afraid walk barefoot floor look cle...
4,amaze location building romantic setting,book company line show picture room think get ...

In [155]:
# %%time
# from sklearn.feature_extraction.text import CountVectorizer


# vectorizer = CountVectorizer(min_df=0)

# # call `fit` to build the vocabulary
# vectorizer.fit(reviews['Pos_lemmatized'])
# vectorizer.fit(reviews['Neg_lemmatized'])

# # call `transform` to convert text to a bag of words
# x1 = vectorizer.transform(reviews['Pos_lemmatized'])
# x2 = vectorizer.transform(reviews['Neg_lemmatized'])

# # CountVectorizer uses a sparse array to save memory, but it's easier in this assignment to 
# # convert back to a "normal" numpy array
# x1 = x1.toarray()
# x2 = x2.toarray()

# print()
# print("Transformed text vector 1 is \n", x1)

# # `get_feature_names` tracks which word is associated with each column of the transformed x
# print()
# print("Words for each feature:")
# print(vectorizer.get_feature_names())

# # Notice that the bag of words treatment doesn't preserve information about the *order* of words, 
# # just their frequency

In [159]:
# %%time

# from sklearn.feature_extraction.text import TfidfVectorizer

# tfidf = TfidfVectorizer(max_features = 500, 
#                               ngram_range = (1,3),
#                               stop_words = "english")

# Pos_description = tfidf.fit_transform(reviews["Pos_lemmatized"].tolist())
# Neg_description = tfidf.fit_transform(reviews["Neg_lemmatized"].tolist())